.container {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

 form{
    padding: 50px;
    width: 600px;
    background-color:rgba(137, 43, 226, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
form >*{
    margin: 20px;
}

