.navbar {
  background-color: rgba(137, 43, 226);
  width: 100%;
  height: 60px;
  position: fixed;
  top:0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
  
}

.navbar .nav__item{
  border: solid 0.5px;
  height: 40px;
  width: 80px;
  background-color: white;
  margin: 10px;
  
  float: right;
  cursor: pointer;
  text-align: center;
  
}