input{
  height: 40px;
  width: 250px;
  border-radius: 10px;
}

button{
  height: 40px;
  width: max-content;
  max-width: 100px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  background-color: black;
  color: white;
  cursor: pointer;
}